body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  background-color: #7F95E4;
  height: 100vh;
  width: 80px;
  position: fixed;
  left: 0;
}

.dashboard {
  margin-left: 80px;
  background-color: #F1F0FF;
  padding: 20px;
}

.logo {
  width: 24px;
}

.sidebar-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-icon {
  margin: 20px 0;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
}

.header-title {
  font-size: 24px;
  color: black;
  margin-right: auto;
}

.search-bar {
  background-color: #7F95E4;
  border: none;
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
}

.menu-icon {
  cursor: pointer;
}

.overview-box,
.resources-box,
.logs-box {
  background-color: #7F95E4;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.overview-header,
.resources-header,
.logs-header {
  color: white;
  font-size: 16px;
}

.buttons {
  margin-top: 10px;
}

.score {
  display: block;
  font-size: 13px;
  color: #443266;
}

.action-btn,
.assign-btn,
.view-evaluation-btn {
  background-color: #443266;
  color: white;
  font-weight: bold;
  font-size: 12px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.action-btn:hover,
.assign-btn:hover,
.view-evaluation-btn:hover {
  background-color: #5e458c;
}

.resource-item {
  display: flex;
  align-items: center; /* Added */
  margin-right: 20px;
  margin-bottom: 10px;
}

.resource-icon {
  width: 40px; /* Adjust icon width as needed */
  height: auto;
  margin-right: 10px;
}

.resource-label {
  margin: 0;
  color: white; /* Added */
  font-size: 12px;
  text-align: center; /* Added */
}

.log-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.log-icon {
  width: 24px;
  margin-right: 10px;
}

.log-details p {
  margin: 5px 0;
}

.view-link {
  margin-left: auto;
}

.view-all-link {
  color: white;
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
  display: block;
}

.view-all-link:hover {
  text-decoration: underline;
}

.resources-content {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line if there's not enough space */
}

.resource-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
}
